Configs/Default/Android/icons/icon_hdpi.png
Configs/Default/Android/icons/icon_ldpi.png
Configs/Default/Android/icons/icon_xhdpi.png
Configs/Default/Android/icons/icon_mdpi.png
Configs/Default/Android/icons/icon_xxhdpi.png
Configs/Default/Android/portrait_splash.png
Configs/Default/Mac/icon512.png
Configs/Default/Windows8/Win8NativeRunner_TemporaryKey.pfx
Configs/Default/Android/icons/icon_xxxhdpi.png
Configs/Default/Android/icons/ouyaIcon.png
Configs/Default/Android/splash.png
Configs/Default/Linux/icon64.png
Configs/Default/Linux/splash.png
Configs/Default/Mac/splash.png
Configs/Default/Windows8/logos/logo150.png
Configs/Default/Windows8/logos/logo30.png
Configs/Default/Windows8/logos/logo310.png
Configs/Default/Windows8/logos/logo50.png
Configs/Default/Windows8/splashscreen.png
Configs/Default/Windows8/Windows8_TemporaryKey.pfx